/* Styles for Page to Markdown Extension */
body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    width: 600px;
    height: 300px;
    padding: 1rem;
}

#outputContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0.5rem;
    width: 100%;
}

#outputField {
    display: block;
    min-height: 50vh;
    overflow-y: scroll;
    padding: 1rem;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    margin-top: 1rem;
    width: 93%;

}

h1 {
    font-size: 1.5rem;
    border-bottom: 1px dotted #333;
}

#footer {
    padding: 0.5rem, 1rem;
}